/*0,0,0,1*/
p {
   color:darkblue;
   }
 
/*0,1,1,1*/
p: #content.second{
color:lightpink;
}

/*0,1,0,0*/
p #content {
color: green;
}

/*0,2,1,0*/
.header #nav #list {
color: white
}

/*0,0,1,0*/
.definition {
color: purple;
}
