/* 0, 0, 0, 1 */
p {
    color: orange;
}
/* 0, 0, 1, 0 */
.class1 {
    color: purple;
}
/* 0, 1, 0, 0 */
#Li {
    color: blue;
}

/* 0, 1, 1, 1 */
p#O2.class1 {
    color: red;
}
/* 0, 2, 1, 0 */
#Li + #Al.class1 {
    color: yellow;
}
